@use "media/breakpoints" as bk;

.about {
  width: 100%;
  padding: 78px 0;
  min-height: 100vh;
  background: linear-gradient(160deg, #7AC4F5, #fff);
  font-family: Montserrat, sans-serif;

  &__main {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include bk.md-d {
      flex-direction: column-reverse;
    }
  }

  & img {
    height: 662px;
    width: 440px;
    transform: translateX(-16%);
    opacity: 0;
    border-radius: 12px;

    &.image-loaded {
      animation: fadeIn 0.5s .0s 1 forwards linear;
    }

    @include bk.md-d {
      margin: 30px 0 0 0;
      width: 550px;
      height: auto;
      transform: translateY(16%);

    }

    @include bk.s-d {
      max-width: 400px;
      margin: 30px auto 0 auto;
    }
    @include bk.ms-d {
      max-width: 350px;
      margin: 30px auto 0 auto;
    }

  }

  &__text {
    width: 550px;

    h1 {
      font-size: 85px;
      text-transform: capitalize;
      font-family: Montserrat, sans-serif;

      color: #1b1b1b;

      @include bk.lg-d {
        font-size: 65px;
      }

      @include bk.s-d {
        font-size: 65px;
        max-width: 400px;
        margin: auto;
      }
      @include bk.ms-d {
        max-width: 350px;
        margin: auto;
      }
    }

    h5 {
      font-size: 25px;
      text-transform: capitalize;
      margin-bottom: 25px;
      letter-spacing: 2px;
      color: #fff;
      font-family: Montserrat, sans-serif;

      span {
        color: #f9004d;
      }

      @include bk.s-d {
        font-size: 22px;
        margin: 0 auto 20px auto;
        max-width: 400px;
        letter-spacing: 1px;

      }
      @include bk.ms-d {
        max-width: 350px;
        margin: 0 auto 20px auto;
      }

    }


    p {
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      color: #1b1b1b;
      font-family: Montserrat, sans-serif;

      @include bk.s-d {
        max-width: 400px;
        margin: auto;

        line-height: 20px;
        font-size: 16px;
        letter-spacing: 0.5px;
      }

      @include bk.ms-d {
        max-width: 350px;
        margin: auto;
      }
    }
  }

  &__button {
    padding: 13px 30px;
    background-color: #f9004d;
    color: #fff;
    border: 2px solid transparent;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);

    }

  }
}