.about {
  width: 100%;
  padding: 78px 0;
  min-height: 100vh;
  background: linear-gradient(160deg, #7AC4F5, #fff);
  font-family: Montserrat, sans-serif;

  &__main {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  & img {
    height: 662px;
    width: 440px;
    transform: translateX(-16%);
    opacity: 0;

    &.image-loaded {
      animation: fadeIn 0.5s .0s 1 forwards linear;
    }

  }

  &__text {
    width: 550px;

    h1 {
      font-size: 85px;
      text-transform: capitalize;
      font-family: Montserrat, sans-serif;

      color: #1b1b1b;
    }

    h5 {
      font-size: 25px;
      text-transform: capitalize;
      margin-bottom: 25px;
      letter-spacing: 2px;
      color: #fff;
      font-family: Montserrat, sans-serif;

      span {
        color: #f9004d;
      }
    }


    p {
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      color: #1b1b1b;
      font-family: Montserrat, sans-serif;
    }
  }

  &__button {
    padding: 13px 30px;
    background-color: #f9004d;
    color: #fff;
    border: 2px solid transparent;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);

    }

  }
}