:root {
  --primary: rgb(70, 164, 255) !important;
  --secondary: rgb(161, 213, 248) !important;
  --body-bg: rgb(39, 38, 40) !important;

  --header-color: rgb(38, 38, 38) !important;
  --header-link-color: rgb(44, 50, 116) !important;
  --accent: rgb(38, 38, 38) !important;
}