@use 'media/breakpoints' as bk;

$px__social-gap: 36px;

.footer {
  background: linear-gradient(160deg, #7AC4F5, #fff);

  &__body {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  &__row {
    display: grid;
    grid-template-areas:
      's t l'
      'c c c';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.2rem;

    @include bk.md-d {
      grid-template-areas:
      's l'
      't t'
      'c c';
      grid-template-rows:
              repeat(3, 1fr);
      grid-template-columns:
              repeat(2, 1fr);
      grid-column-gap: 1.2rem;

    }

    @include bk.sm-d {
      grid-template-areas:
      's'
      'l'
      't'
      'c';
      grid-template-rows:
              repeat(4, 1fr);
      grid-template-columns:
              repeat(1, 1fr);
      grid-column-gap: 1.2rem;

    }
  }

  &__col {

    &-social {
      grid-area: s;
      display: flex;
      justify-content: center;


      p {
        color: #fff;
        font-size: 1.1rem;

        @include bk.sm-d {
          font-size: 1.3rem;
        }
      }

    }

    &-language {
      grid-area: l;
      display: flex;
      justify-content: center;

    }

    &-text {
      grid-area: t;
      text-align: center;

      p {
        font-family: Montserrat, sans-serif;
        color: #fff;
        font-size: 18px;

        @include bk.md-d {
          font-size: 22px;
          font-weight: 400;
        }

      }
    }

    &-copy {
      grid-area: c;
      margin: 1rem 0 0.25rem 0;
      text-align: center;

      p {
        color: rgba(0, 119, 255, 0.8);
        font-size: 1rem;
        font-family: "Poppins", sans-serif;

        &:first-line {
          font-size: 1.1rem;
          margin-bottom: 6px;
          font-family: "Playfair Display", sans-serif;
        }
      }
    }


  }

  &__list {
    &-social {
      display: flex;


    }
  }

  &__item {
    $margin-top: 10px;
    margin: $margin-top 0 0 0;

    &:not(:last-child) {
      margin: $margin-top $px__social-gap 0 0;
    }

  }

}