@use 'media/breakpoints' as bk;

$header-height: 8vh;


:root {
  --header-bg: trasparent;

  --logo-color: #fff;
  --buttons-color: rgba(255, 255, 255);
  --buttons-color-hover: rgb(183, 183, 183);


}

$header_height_mobile: 65.52px;

.header {
  min-height: 75.52px;
  max-width: 100vw;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;

  @include bk.md-d {
    min-height: $header_height_mobile;
    overflow: hidden;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--header-bg);
    overflow: hidden;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $header-height;
    align-items: center;
    overflow: hidden;
  }

  &__logo {
    display: block;
    overflow: hidden;
    cursor: pointer;
    z-index: 4;

    h1 {
      cursor: pointer;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;

      @include bk.md-d {
        font-size: 36px;
      }

      @include bk.sm-d {
        font-size: 26px;
      }

      @include bk.s-d {
        font-size: 20px;
      }

      a {
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        color: var(--logo-color);

      }
    }
  }
}

.header.nav-scrolled {
  --header-bg: #f4f4f4;

  --logo-color: #333;
  --buttons-color: #333;
  --buttons-color-hover: #454242;

  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.22);
}

.header {
  &__nav {
    display: flex;
    position: relative;
    z-index: 2;
    gap: 45px;

    @include bk.md-d {
      gap: 30px;
    }

    @include bk.sm-d {
      gap: 16px;
    }
  }

  &__item {
    @include bk.md-d {
      &.lang {
        display: none;
      }
    }

    > .header__link {
      transition: all 0.3s ease !important;
      font-weight: 400;
      color: var(--buttons-color);
      font-family: "Poppins", sans-serif;
      font-size: 30px;

      @include bk.md-d {
        font-weight: 300;
        font-size: 24px;
      }

      @include bk.sm-d {
        font-size: 18px;

      }
    }

    &:hover {
      a {
        color: var(--buttons-color-hover);

      }
    }
  }
}


// ============================ MAIN SECTION =============================

.intro {


  &__body {
    padding-top: 190px;

    display: grid;
    grid-template-areas:
    't'
    's'
    'b'
    'sc';
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(1, 1fr);

    @include bk.md-d {
      padding: 160px 0 0 0;
    }

  }

  &__title {
    grid-area: t;
    align-self: end;

    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 95px;
    color: #fff;
    max-width: 1000px;

    @include bk.md-d {
      font-size: 55px;
      font-weight: 600;
      line-height: 75px;
      max-width: 600px;

    }

    @include bk.sm-d {
      font-size: 45px;
      line-height: 65px;
      max-width: 520px;
    }

    @include bk.s-d {
      font-size: 35px;
      line-height: 40px;
      max-width: 480px;
    }
  }

  &__subtitle {
    grid-area: s;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    color: #fff;
    margin: 50px 0 0 0;
    max-width: 900px;

    @include bk.md-d {
      line-height: 35px;
      font-size: 22px;


    }

    @include bk.sm-d {
      line-height: 25px;
      font-size: 20px;

    }

    @include bk.s-d {
      line-height: 20px;
      font-size: 18px;
    }
  }

  &__button {
    grid-area: b;
    transition: all .3s;
    background: #3A89E6;
    border-radius: 38px;
    width: 307px;
    height: 75px;
    position: relative;
    margin: 70px 0 0 0;

    a {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #E5FAF6;

      @include bk.md-d {
        font-weight: 600;
        font-size: 18px;
      }

      @include bk.sm-d {
        font-weight: 500;
        font-size: 16px;
      }

      @include bk.s-d {
        font-weight: 600;
        font-size: 14px;
      }
    }

    &:hover {
      filter: brightness(1.2);

      a {

        filter: brightness(1);
        color: #f4f4f4;
      }
    }

    @include bk.md-d {
      width: 250px;
      height: 60px;


    }

    @include bk.sm-d {
      width: 220px;
      height: 55px;
    }

    @include bk.s-d {
      width: 200px;
      height: 50px;
    }
  }

  &__social {
    grid-area: sc;
    margin: 85px 0 0 0;

    h4 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 1.197px;

      color: #FFFFFF;
    }
  }

  &__list-social {
    display: flex;
  }

  &__item {
    transition: all .3s;
    $icons-margin-top: 11px;
    margin-top: $icons-margin-top;

    &:not(:last-child) {
      margin: $icons-margin-top 46px 0 0;
    }

    svg {
      filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(296deg) brightness(105%) contrast(106%);
    }

  }
}

.intro {
  &__body.reverse {
    justify-items: end;
  }

  &__button.reverse {
  }

  &__social.reverse-text {
    .intro__list-social {
      .intro__item {
        svg {
          filter: invert(99%) sepia(0%) saturate(60%) hue-rotate(163deg) brightness(73%) contrast(75%);

        }
      }
    }

  }
}